{% extends 'base.html' %}

{% block content %}

<header>
  <h1>Articles</h1>
</header>

<p>Below is a listing of our articles. Every week we share our learning. If you have anything you struggle with in suggestions or ideas for topics please do <a href='https://facebook.com' target="_blank">Get In Touch</a> ...</p>

<br>
<input type="text" id="search" onkeyup="filterList()" placeholder="Search Articles .." title="What do you like to learn about?">


<div>
{%for message in messages%}
<h3>{{message}}</h3>
{%endfor%}
</div>

<ul id='articleList' class='articleList'>

  {% for i in posts %}
  <li><h6>{{i.published_date}}</h6><a href="{%url 'post_detail' pk=i.pk%}">{{i.title}}</a><br><p>{{i.descp | truncatewords:50}}</a><h6>{{i.author}}</h6></p></li>
  {% endfor %}
      
</ul>
{% endblock %}